* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    background-color: bisque;
}

.header {
    position: relative;
    width: 100%;
    height: 80px;
    background-color: blueviolet;
    margin-bottom: 40px;
}

.header-link {
    position: absolute;
    left: 10px;
    top: 10px;
    height: 60px;
    width: 60px;
}

.header-icon {
    height: 60px;
    width: 60px;
}

.header-home {
    font-size: 30px;
    margin-left: calc(50% - 40px);
    margin-top: 24px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    width: 80px;
    height: 30px;
    color: black;
    text-decoration: none;
}

.header-sign {
    position: absolute;
    right: 20px;
    margin-top: 24px;
    text-decoration: none;
    color: aqua;
    height: 40px;
    font-size: 30px;
    width: 100px;
}

.main {
    width: 100%;
    padding: 50px;
    margin-top: 50px;
}

.product {
    display: inline-block;
    margin: 10px 5px ;
    width: 300px;
    height: 500px;
    background-color: white;
    overflow: hidden;
}

.product-image {
    width: 300px;
    height: 300px;
}

.product-title, .product-price, .product-category, .product-rating, .product-description {
    margin: 10px;
}

.product-rating {
    display: inline;
}

.product-description {
    color: darkgreen;
}

.pagination-block {
    margin-top: 20px;
    width: 300px;
    padding: 5px 0;
    text-align: center;
    margin-left: calc((50% - 150px));
}

.pagination-button {
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: rgba(0, 255, 0, 0);
    color: dodgerblue;
}

.pagination-symbol {
    color: black;
}

.profile-link {
    position: absolute;
    right: 140px;
    top: 10px;
    height: 60px;
    width: 60px;
    display: none;
}

.profile-icon {
    height: 60px;
    width: 60px;
}

.sign-out {
    display: none;
    width: 110px;
    text-align: center;
    margin-top: 24px;
}

.filters {
    position: relative;
    width: 100%;
    padding: 18px 25px;
    height: 70px;
    background-color: black;
    margin: auto;
}

.filter {
    display: inline-block;
    color: white;
    margin: 0 10px 0 10px;
    font-size: 20px;
}

.more, .less {
    margin: 0;
    margin-right: 5px;
    padding: 0;
    font-size: 25px;
    border: 0;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    color: blue;
}

.less {
    margin-right: 10px;
}

.filter-buttons {
    border-radius: 5px;
    background-color: green;
    padding: 5px 10px;
    margin-right: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.submit-search {
    float: right;
    border-radius: 5px;
    background-color: green;
    padding: 5px 10px;
    color: white;
    font-size: 18px;
    margin-top: 0.5px;
    cursor: pointer;
}

input[type=search] {
    float: right;
    margin-top: 7px;
    height: 23px;
    margin-right: 20px;
    font-size: 15px;
}

.search-results {
    display: none;
    width: fit-content;
    border-radius: 5px;
    height: 30px;
    padding: 3px 20px;
    color: white;
    margin-top: 20px;
    margin-left: 40px;
    background-color: blue;
    font-size: 20px;
}

.buy-count {
    float: right;
    display: inline;
    font-size: 21px;
    color: red;
    font-weight: bold;
    padding-top: 18px;
    text-align: center;
    background-image: url("./imagesbox/icons8-basket-48.png");
    background-size: cover;
    width: 56px;
    height: 50px;
    margin-right: 50px;
    margin-top: -7px;
    cursor: pointer;
}

.buy-product {
    display: inline;
    background-color: blueviolet;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    font-size: 15px;
}