* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: white;
}

.go-home {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 54px;
    height: 54px;
}

.go-home-link {
    position: absolute;
    height: 52px;
}

#sign-up-div, #sign-in-div {
    position: relative;
    padding: 70px 0 ;
    text-align: center;
    width: 300px;
    min-height: 350px;
    margin-left: calc(50% - 150px);
    margin-top: calc(17% - 175px);
}
.sign-div-text {
    display: inline;
}
.sign-div-link {
    color: blue;
    display: inline;
    cursor: pointer;
}

#signup-password-issue, #signup-gmail-issue, #signin-password-issue, #signin-gmail-issue {
    word-wrap: break-word;
    width: 210px;
    margin-left: 45px;
    margin-bottom: 20px;
    display: none;
}

.pwd-issue {
    list-style-type: none;
    color: red;
}

.submit {
    width: 100px;
    margin-left: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}