body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    background-color: white;
}

.go-home {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 54px;
    height: 54px;
}

.go-home-link {
    position: absolute;
    height: 52px;
}

.sign-div {
    position: relative;
    padding: 10px 0 ;
    text-align: center;
    width: 300px;
    height: 350px;
    margin-left: calc(50% - 150px);
    margin-top: calc(17% - 175px);
}

.sign-div-link {
    text-decoration: none;
    color: blue;
}

.submit {
    width: 100px;
    margin-left: 90px;
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 15px;
}