* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: white;
}

.go-home {
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
    width: 54px;
    height: 54px;
}

.go-home-link {
    position: absolute;
    height: 52px;
}

.profile-configs {
    width: 200px;
    border: 1px solid black;
    height: 300px;
    margin-left: 20px;
    margin-top: calc(18% - 150px);
}

li {
    margin: 5px 0 5px 10px;
    font-weight: bold;
    color: rgba(12, 151, 47, 0.822);
    font-size: 22px;
    list-style-type: none;
}

.confiq-button:hover {
    background-color: blueviolet;
    color: black;
}

.config-block {
    position: relative;
    margin-left: calc(50% - 250px);
    margin-top: -400px;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}

.config-params {
    position: absolute;
    padding: 10px;
    width: 100%;
    height: 100%;
    border: 1px solid green;
}

.add-submit, .change-pwd-submit {
    position: absolute;
    display: block;
    cursor: pointer;
    float: right;
    padding: 5px;
    font-weight: bold;
    font-size: 15px;
    margin-right: 40px;
    border: none;
    border-radius: 5px;
    background-color: chartreuse;
}

.change-pwd-submit {
    float: left;
    margin-right: auto;
    margin-left: 60px;
    margin-top: 10px;
}

.add-submit:active {
    background-color: rgb(87, 156, 18);
}

.add-product-form {
    display: inline-block;
}

.product-issue {
    position: absolute;
    margin-left: 15px;
    display: none;
    text-align: center;
    word-wrap: break-word;
    padding: 5px;
    color: red;
}

.config-params {
    display: none;
}

input[type = checkbox] {
    margin-left: 5px;
    margin-top: 5px;
}

textarea[name = Description] {
    margin-top: 5px;
}

.change-pwd-issues {
    display: none;
    color: red;
    margin-top: 30px;
    margin-left: 100px;
    text-align: center;
}